body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 24px;
    color: #e50914;
}

.roleta-button {
    padding: 10px 30px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 30px;
}

.roleta-button:hover {
    background-color: #f40612;
}

.home-section {
    margin-top: 80px;
    text-align: center;
}

.cover {
    text-align: center;
    margin: 20px auto;
}

.cover img {
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
}

.animes-section {
    position: relative;
}

.anime-title {
    font-size: 24px;
    margin-top: 40px;
    color: #fff;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.anime-carousel {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 20px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    max-width: 80%;
}

.anime-carousel::-webkit-scrollbar {
    display: none;
}

.anime-item {
    flex: none;
    width: 250px;
    scroll-snap-align: start;
}

.anime-item img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.anime-item img:hover {
    transform: scale(1.05);
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
